.equal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


body {
    display: flex; 
    flex-direction: row; 
    align-content: center; 
    flex-wrap: wrap; 
}

body img {
    border-radius: 10px; 
}

#leftCol {
    display: flex; 
    flex-direction: column; 
    height: 50vh; 
    position: relative; 
    top: 25vh; 
    align-content: center; 
    justify-content: center; 
    padding-left: 20px; 
    align-items: right; 
    align-content: right; 
}

#rightCol {
    display: flex; 
    flex-direction: column; 
    height: 50vh; 
    position: relative; 
    top: 25vh; 
    align-content: center; 
    justify-content: center; 
}

.button {
    padding: 10px; 
    border-radius: 15px; 
    color: black; 
    border: 1px solid black; 
    box-shadow: 1px 1px 0px 0px; 
}

.button:hover {
    color: white; 
    background-color: black; 
}