altgraph==0.10.2
bdist-mpkg==0.5.0
click==6.7
Flask==0.12.2
Flask-FlatPages==0.6
Frozen-Flask==0.15
itsdangerous==0.24
Jinja2==2.9.6
macholib==1.5.1
Markdown==2.6.9
MarkupSafe==1.0
py2app==0.7.3
pyparsing==2.0.1
python-dateutil==1.5
pytz==2013.7
PyYAML==3.12
six==1.4.1
Werkzeug==0.12.2
zope.interface==4.1.1
