header {
	padding-left: 40px;
	padding-top: 20px;
}
/* Feel free to modify anything in this file.*/
.vendor-wrapper {
	justify-content: left;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.vendor-photo {
	max-width: : 200px;
	max-height: 150px;
	padding-right: 20px;
}

.vendor-book-button {
	font-size: 2em;
}