<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">      
        var timerStart = Date.now();
        console.log('Page Load:' + timerStart)
        var uniq_session = timerStart;
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: Feel free to modify anything inside main.css-->
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <title>Find Memphis Taxis online</title>
  </head>

  <body>
    <header>
      <h1>Memphis Taxis </h1>
      <p>This page contains information about taxi and cab companies in Memphis, Tennessee.</p>
      <p>Not endorsed by any of the companies listed, or the city of Memphis.</p>
    </header>

    <!--
    TODO: Feel free to modify image, change layouts, appearance etc anything.
    Remember if you add any new buttons, you need to update the javascript file, for
    corresponding button id, so that clicks of that button could be logged.

    Easiest thing is to have just the two buttons we already have and try to play around
    with layouts of it.
    -->

    <div class="vendor-wrapper">
      <img src="/static/memphis.png" class="vendor-photo" />
      <button class="vendor-book-button btn btn-primary" type="submit" id="mp1">Reserve with Memphis Airport
          Taxis</button>
    </div>
    <div class="vendor-wrapper">
      <img src="/static/memphis2.png" class="vendor-photo" />
      <button class="vendor-book-button btn btn-primary" type="submit" id="mp2">Reserve with QuickDrive taxi</button>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        var timeLoaded = Date.now()
          $(document).ready(function() {
            timeLoaded =  Date.now();
            console.log('Page Load:' + timeLoaded)
            sendData(timeLoaded, 0.0, 0.0, uniq_session)
          });

        $("#mp1").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp1'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              // TODO: Feel free to make this point to different site
              window.location.href = "http://www.yellowcabofmemphis.com/"

        })


        $("#mp2").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp2'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              // TODO: Feel free to make this point to different site
              window.location.href = "https://www.ridecharge.com/s/tn-memphis/taxi-sedan-limo-shuttle"
        })


        function sendData(timeLoaded, clickTime, clickObjectID, cook){
              var dataObj = { 'version': 'A', 'pageLoadTime': timeLoaded , 'clickTime': clickTime , 'HtmlElementID': clickObjectID, 'UniqueSession' :uniq_session};
              console.log(JSON.stringify(dataObj))
               $.ajax({
                   type: 'POST',
                    url: '/data',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(dataObj),
                    success: function(callback) {
                        console.log(callback);
                    },
                    error: function() {
                        $(this).html("error!");
                    }
              });
        }
     </script>
  </body>
</html>
