<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">      
        var timerStart = Date.now();
        console.log('Page Load:' + timerStart)
        var uniq_session = timerStart;

        var cookie = getCookie('uid');
        var uniq_session = cookie;

        if(cookie == '' || cookie == null) {
          var uid = Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 12);
          console.log('uid:' + uid)
          setCookie('uid', uid,  40)
          cookie = getCookie('uid');
          uniq_session = cookie;
        }
        function setCookie(cname, cvalue, exdays) {
          var d = new Date();
          d.setTime(d.getTime() + (exdays*24*60*60*1000));
          var expires = "expires="+ d.toUTCString();
          document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
          var name = cname + "=";
          var decodedCookie = decodeURIComponent(document.cookie);
          var ca = decodedCookie.split(';');
          for(var i = 0; i <ca.length; i++) {
              var c = ca[i];
              while (c.charAt(0) == ' ') {
                  c = c.substring(1);
              }
              if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
              }
          }
          return "";
        }

        console.log('version B: cookie:' + cookie)

    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: Feel free to modify anything inside main.css-->
    <!-- TODO: You can even have a new/different css for Version B -->
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Find Memphis Taxis online</title>
  </head>

  <body>
    <header>
      <h1>Memphis Taxis Created by TODO: Add your team name here </h1> <!-- TODO: Add your team name here. -->
        <!-- Some of the ideas could be, making it pretty, making it look real, make it look reliable
            choosing attractive image etc, showing that your taxis are cheaper than X/Y..
            Show your juice of creativity.

            At a minimum, we atleast require you change the name of buttons.
             -->
        <!-- TODO: For those tech savvy users, feel free to beautify the site, using css. -->
         <!-- TODO: Feel free to update the content -->
      <p>This page contains information about taxi and cab companies in Memphis, Tennessee.</p>
      <p>Not endorsed by any of the companies listed, or the city of Memphis.</p>
    </header>

    <div class="vendor-wrapper">
        <!--TODO: Change the image -->
      <img src="/static/memphis.png" class="vendor-photo" />

      <button class="vendor-book-button btn btn-primary" type="submit" id="mp1">TODO: Change me</button>
       <p>Safe, Reliable Taxi Services from Yellow Cab and Checker Cab are available
              in the Memphis Metro area 24 hours a day.</p>
    </div>

    <div class="vendor-wrapper">
        <!--TODO: Change the image -->
      <img src="/static/memphis2.png" class="vendor-photo" />
      <button class="vendor-book-button btn btn-primary" type="submit" id="mp2">TODO: Change me</button>
       <p>Our drivers are the most professional drivers in the industry. Our drivers
              are licensed and required to successfully complete a formal training.</p>
    </div>

     <div class="vendor-wrapper">
    <img src="/static/uber.png" class="vendor-photo" />
   
    <button class="vendor-book-button btn btn-primary" type="submit" id="mp3">TODO: Change me</button>
     <p> We are so much cheaper than taxis..! </p>
    </div>

    <div class="vendor-wrapper">
      <img src="/static/premiere.png" class="vendor-photo" />
      <button class="vendor-book-button btn btn-primary" type="submit" id="mp4">TODO: Change me</button>
       <p>Our goal is to efficiently
              transport our passengers in a safe, polite and timely manner at a fair
              price.</p>
    </div>


    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        var timeLoaded = Date.now()
          $(document).ready(function() {
            timeLoaded =  Date.now();
            console.log('Page Load:' + timeLoaded)
            sendData(timeLoaded, 0.0, 0.0, uniq_session)
          });

        $("#mp1").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp1'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              // TODO: Feel free to make this point to different site
              window.location.href = "http://www.yellowcabofmemphis.com/"
        })


        $("#mp2").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp2'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              // TODO: Feel free to make this point to different site
              window.location.href = "https://www.ridecharge.com/s/tn-memphis/taxi-sedan-limo-shuttle"
        })

          $("#mp3").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp3'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              // TODO: Feel free to make this point to different site
              window.location.href = "https://www.uber.com/cities/memphis/"
        })

            $("#mp4").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp4'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              // TODO: Feel free to make this point to different site
              window.location.href = "https://premierofmemphis.com/contact-us/"
        })


        function sendData(timeLoaded, clickTime, clickObjectID, cook){
              var dataObj = { 'version': 'B', 'pageLoadTime': timeLoaded , 'clickTime': clickTime , 'HtmlElementID': clickObjectID, 'UniqueSession' :uniq_session};
              console.log(JSON.stringify(dataObj))
               $.ajax({
                   type: 'POST',
                    url: '/data',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(dataObj),
                    success: function(callback) {
                        console.log(callback);
                    },
                    error: function() {
                        $(this).html("error!");
                    }
              });
        }
     </script>
  </body>
</html>
